<section class="section">
  <div class="container">
    <h1 class="title">
      Sign In
    </h1>
    <p class="SignInForm">
      <%= simple_form_for :session, url: sessions_path do |f| %>
        <div id="boxshadow">
          <%= f.input :username, required: true %>
        </div>
        <div style="padding:10px">
          <%= f.button :submit, "Sign In" %>
        </div>
      <% end %>
      <br>
    </p>
  </div>
</section>
