<section class="section">
  <div class="container">
    <h1 class="title">
      Sign Up
    </h1>
    
    <p class="SignUpForm">
      <%= simple_form_for @user do |f| %>
      <div id="boxshadow">
        <%= f.input :username, required: true %>
        </div>
        <div style="padding:10px">
          <%= f.button :submit %>
        </div>
      <% end %>
    </p>
  </div>
</section>