
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Out</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        User's Homepage
      </h1>
      <p class="userpage">
      <% if user_signed_in? %>
      You are currently signed in as:
        <%= current_user.username %> <br>
        <% else %>
        You are not logged in. Please create an account, or sign in. <br>
      <% end %>
      </p>
    </div>
  </section>
  </body>
</html>