
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
         <% if user_signed_in? %>
          <%= current_user.username %>'s Homepage
         <% end %>
      </h1>
      <p class="userpage">
      <% if user_signed_in? %>
        The events you have created are:<br>
      <br>
        <% @users.each do |user| %>
          <% user.created_events.each do |event| %>
            <%= event.title %><br>
            <%= event.body %><br>
            <%= event.date %><br>
          <% end %>
        <% end %>

        <% else %>
        You are not logged in. Please create an account, or sign in. <br>
      <% end %>
      </p>
    </div>
  </section>
  </body>
</html>