<div class="container">
  <h1 class="title">
    Private Events
  </h1>
  <div class="centertext">
    <div id="boxshadow">
      <div class="tile is-child box">
        <ul>
          <br>
          <li>- Sign Up or Sign In. </li>
          <li>- Create events and browse created events.</li>
          <li>- Attend events and view upcoming and past events.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
