<div class="container">
  <h1 class="title">
    Private Events
  </h1>

  <div class="centertext">
  <div class="tile is-child box">

    Welcome to Private Events; this is a website where you can:
    <ul>
    <br>
      <li>- Sign Up or Sign In (use example1@testing.com to sign in if you don't want to create an account). </li>
      <li>- Create events with a Title, Description, and Time.</li>
      <li>- Sign up for other events and view the events you attended in the past.</li>
  </ul>
  </div>
  </div>
</div>