<div class="container">
  <h1 class="title">
    Events Index
  </h1>
  <p class="userpage">
  <div class="centertext">
  <div class="tile is-child box">
    <p class="userpage">
      <% @events.each do |event| %>
      <hr> 
        <%= event.title %><br>
      <% end %>
  </div>
  </div>
  </p>
</div>