<section class="section">
  <div class="container">
    <h1 class="title">
      Events Index:
    </h1>
  <% @events.each do |event| %><br>
  <%= event.title %>
  <% end %>  
    </p>
  </div>
</section>