  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Creators of Event(s):
      </h1>
      <p class="userpage">
      <%= @event.creator.username %>
      </p>
    </div>
  </section>
  </body>
</html>