<section class="section">
  <div class="container">
    <h1 class="title">
      Creators of Event(s):
    </h1>
    <p class="userpage">
    Event creator username (@event.creator.username):
    <%= @event.creator.username %>
    <br>
    Event attendees (@event.attendees.each):
    <% @event.attendees.each do |attendee| %>
      <%= attendee.name %>
    <% end %>
    </p>
  </div>
</section>